html, body, ul, li {
  margin: 0;
  padding: 0;
  color:#fff;
}

body {
  background-image: url("../images/bg.jpg");
  font: normal 16px/24px 'apex_newbook', Helvetica, Arial, freesans, sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: 'icons';
  src: url("font/icons.eot");
  src:
    url("font/icons.eot?#iefix") format('embedded-opentype'),
    url("font/icons.woff") format('woff'),
    url("font/icons.ttf") format('truetype'),
    url("font/icons.svg#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'apex_newbold';
  src: url('../fonts/apex_new_bold-webfont.eot');
  src: url('apex_new_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/apex_new_bold-webfont.woff2') format('woff2'),
    url('../fonts/apex_new_bold-webfont.woff') format('woff'),
    url('../fonts/apex_new_bold-webfont.ttf') format('truetype'),
    url('../fonts/apex_new_bold-webfont.svg#apex_newbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'apex_newbook';
  src: url('../fonts/apex_new_book-webfont.eot');
  src: url('../fonts/apex_new_book-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/apex_new_book-webfont.woff2') format('woff2'),
    url('../fonts/apex_new_book-webfont.woff') format('woff'),
    url('../fonts/apex_new_book-webfont.ttf') format('truetype'),
    url('../fonts/apex_new_book-webfont.svg#apex_newbook') format('svg');
  font-weight: normal;
  font-style: normal;

}

button, input, code {
  display: inline-block;
  outline: none;
  font: inherit;
  border: none;
  background: #FDE991;
  padding: 0; }

button {
  color: #C7433E;
  cursor: pointer; }

input {
  width: 50px; }

#viewport {
  width: 100%;
  height: 500px;
  background-image: url("../images/bg.jpg");
  margin: 50px auto 0;
  position: relative;
  color: #fff;
}

#viewport .stack {
  width: 300px;
  background-image: url("../images/loading.gif");
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  left: 40%;
  margin-left: -100px;
  border-radius: 10px;
}

#viewport li {
  width: 300px;
  height: 350px;
  list-style: none;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
  line-height: 22px;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
  cursor: default;
}

#viewport li.in-deck:nth-child(3) {
  top: 2px;
  transform: translate(2px, 2px) rotate(0.4deg);
}

#viewport li.in-deck:nth-child(2) {
  top: 4px;
  transform: translate(-4px, -2px) rotate(-1deg);
}

#viewport #control {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0;
}

#viewport #control button {
  background: #FFFFFF;
  color: #373737;
  font-weight: bold;
  border: none;
  font: normal 18px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
  margin: 0 5px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 2px 0 #63211F;
  outline: none;
  position: relative;
}

#viewport #control button:active {
  background: #63211F;
  color: #FFFFFF;
  bottom: -2px;
  box-shadow: none;
}

#source {
  width: 500px;
  margin: 20px auto;
}

#source a {
  color: #C7433E;
}

.card-action {
  /*background: #ffffff;
  border-top: 1px solid rgba(160, 160, 160, 0.2);*/
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  background-clip: padding-box;
  box-sizing: border-box;
  height: 40px;
  margin-right: 0;
  margin-left: 0;
}

.cardHeader {
  height: 100px;
  width:100%;
  margin-top: -10px;
}

/*.the_good {
  background-color: #98D19B;
  border: 10px solid #4BAF50;
}*/

.the_bad {
  background-color: #CA6E7C;
  border: 10px solid #8E0214;
}

.the_oportunity {
  background-color: #7F00BE;
  border: 10px solid #2D2C2D;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.cardBody {
  height: 88%;
  padding: 10px;
}

.section-heading {
    text-align: center;
    color: #fff;
    font-family: 'apex_newbook';
}

.container {
  margin-right: auto;
  margin-left: auto;
  margin-top: -50px;
}

.latamLogo {
  background-image: url("../images/logo.png");
  background-size: 150px 100px;
  height: 110px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 155px;
}

.header .section-heading h1 {
  margin-top:0;
  color: #fff;
  font-family: 'apex_newbook';
}


@media (min-width:641px) {
  #viewport .stack {
    margin-left: -60px;
  }
}

.mb-wrap {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
}

.mb-wrap p{
  margin: 0;
  padding: 0;
}

.mb-wrap blockquote {
  margin: 0;
  padding: 0;
  position: relative;
}

.mb-wrap cite {
  font-style: normal;
}

.mb-style {
  width: 350px;
  height: 400px;
  background: #fff;
  border-radius: 4px;
}

/* Shadow style from Nicolas Gallagher: http://nicolasgallagher.com/css-drop-shadows-without-images/demo/ */
.mb-style:before, .mb-style-6:after {
  content: "";
  position: absolute;
  z-index: -2;
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  bottom: 15px;
  height: 20%;
  left: 10px;
  max-height: 100px;
  max-width: 300px;
  width: 50%;
}
.mb-style:after {
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  left: auto;
  right: 10px;
}

.mb-style blockquote{
  background: #333;
  height: 85%;
  padding: 30px;
  text-align: center;
}

.mb-style blockquote:before{
  color: rgba(255,255,255,0.2);
  position: absolute;
  content: '\0022';
  font-size: 150px;
  line-height: 130px;
  font-style: italic;
  top: 0px;
  right: 20px;
  font-family: Cambria, Georgia, serif;
}

.mb-style blockquote p {
  color: #fff;
  font-family: 'Abril Fatface', cursive;
  font-size: 1em;
  text-shadow: 1px 1px 1px #000;
  text-align: left;
}
.mb-style .mb-attribution {
  padding: 20px;
}

.mb-style .mb-author {
  font-size: 24px;
  color: #070d5f;
  margin-top: -10px;
}
.mb-style cite a{
  color: #999;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
}
.mb-style cite a:hover{
  color: #000;
}
